<h1>create a new recipe</h1>

<%= form_tag "/recipes", method: :post do %>
<div>
Name:
  <input type="text" name="name">
</div>
Ingredients:
<div>
  <input type="text" name="ingredients">
</div>
Directions:
<div>
  <input type="text" name="directions">
</div>
<div>
  <input type="submit" Value="Add a recipe">
</div>

<% end %>